body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: visible;
}

header {
  background-color: white;
  border-bottom: 1px solid #575757;
  grid-row: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
}

.blocker {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 30px auto;
}

.container {
  grid-row: 2;
  width: 100vw;
  height: calc(100vh - 30px);
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 223px;
  padding: 40px;
}

.page-content {
  flex-direction: column;
  padding: 40px;
  width: 100%;
  overflow: auto;
}

.logo {
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px;
  cursor: pointer;
}

.location-date {
  font-size: 12px;
  color: #575757;
  text-transform: uppercase;
  margin: 0 0 40px;
  font-style: italic;
}

.hero-image {
  display: flex;
  flex: 1;
}

.hero-image img,
.blocker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image-caption {
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  color: #000;
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  border-right: 1px solid #000;
  padding-right: 10px;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 40px;
}

.tab {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;

  &.active {
      font-weight: bold;
  }
}

.sub-tabs {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sub-tab {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;
  padding: 0;
  margin: 0;

  &.active {
      font-weight: bold;
  }
}

.sub-sub-tabs {
  display: none;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0;
}

.sub-sub-tab {
  font-size: 11px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  font-weight: normal;

  &.active {
      font-weight: bold;
  }
}

.tab-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px;
}

.tab-link {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}

/* RESPONSIVE STYLES */
@media (max-width: 1000px) {
  .blocker {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
  }

  .blocker img {
    max-width: 100vw;
    max-height: 100vh;
  }
}





/* CONTENT */
/* CONTENT */
/* CONTENT */

.directory {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 800px;
}

.main-image {
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 20px;
}

.intro {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 800px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 800px;
}

.section-gap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 800px;
}

.section-medium {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 800px;
}

.section-skinny {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.row-skinny {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 800px;
  margin: 0;
}

.section-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 800px;
}

.section-subtitle {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  max-width: 800px;
}

.section-description {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}

.body-upper {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.body-lower {
  font-size: 12px;
  margin: 0;
}

.body-upper-bold {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.caption-upper {
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
}

.caption-lower {
  font-size: 10px;
  margin: 0;
}

.caption-upper-bold {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.bullets {
  list-style: square;
  list-style-position: outside;
  font-size: 12px;
  padding-left: 10px;
  margin: 0;
}

.reccomendation {
  font-size: 12px;
  border-left: 2px solid #000;
  padding-left: 10px;
  margin: 0;
}

.image-small {
  max-width: 200px;
}



/* REFACTOR */
.dynamic-page-link {
  color: #000;
  text-decoration: none;
}
.ranking-category {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  min-width: 100px;
}
/* REFACTOR */





/* ABOUT ME / GOALS */

.goal {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.goal-text {
  font-size: 12px;
  text-transform: uppercase;
  min-width: 300px;
  margin: 0;
}

.checkboxes {
  display: flex;
  flex-direction: row;
}

.checkboxes input[type="checkbox"] {
  /* Remove default checkbox appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Create square shape with black border */
  width: 11px;
  height: 11px;
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
}

.checkboxes input[type="checkbox"].true {
  background-color: #000;
}

.checkboxes input[type="checkbox"].false {
  background-color: #e5e5e5;
}

.checkboxes input[type="checkbox"].empty {
  background-color: #fff;
}





/* FASHION / CLOSET */

.closet-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px 10px;
  justify-content: flex-start;
}

.closet-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  max-width: 200px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0;
}

.item-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.item-images img {
  max-width: 400px;
}

.item-details {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
  margin: 0;
}

.item-details-brand {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.item-details-name {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}





/* PROJECTS / BREWS & BITES */

.menu-grid {
  display: grid;
  width: 100%;
  max-width: 800px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: flex-start;
}

.menu-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-wrapper {
  position: relative;
}

.menu-wrapper:hover .hover-image {
  opacity: 1;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}