body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: visible;
}

header {
  background-color: white;
  border-bottom: 1px solid #575757;
  grid-row: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
}

.blocker {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 30px auto;
}

.container {
  grid-row: 2;
  width: 100vw;
  height: calc(100vh - 30px);
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 223px;
  padding: 40px;
}

.page-content {
  flex-direction: column;
  padding: 40px;
  width: 100%;
  overflow: auto;
}

.logo {
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px;
  cursor: pointer;
}

.location-date {
  font-size: 12px;
  color: #575757;
  text-transform: uppercase;
  margin: 0 0 40px;
  font-style: italic;
}

.hero-image {
  display: flex;
  flex: 1;
}

.hero-image img,
.blocker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image-caption {
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  color: #000;
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  border-right: 1px solid #000;
  padding-right: 10px;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 40px;
}

.tab {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;

  &.active {
      font-weight: bold;
  }
}

.sub-tabs {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sub-tab {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;
  padding: 0;
  margin: 0;

  &.active {
      font-weight: bold;
  }
}

.sub-sub-tabs {
  display: none;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0;
}

.sub-sub-tab {
  font-size: 11px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  font-weight: normal;

  &.active {
      font-weight: bold;
  }
}

.tab-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px;
}

.tab-link {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}





/* CONTENT */
/* CONTENT */
/* CONTENT */

.directory {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
}

.main-image {
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 20px;
}

.intro {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 800px;
}

.section {
  margin-top: 0;
  margin-bottom: 40px;
}

.section-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.section-description {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}

.paragraph-text {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0;
}

.link {
  font-size: 12px;
  margin: 0;
}

.small-bullets {
  list-style: square;
  list-style-position: outside;
  font-size: 12px;
  padding-left: 10px;
}

.date {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* ABOUT ME */
/* CAREER */

.job-experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 40px;
}

.job-experience .details {
  display: flex;
  flex-direction: column;
}

.job-experience .title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.job-experience .company,
.job-experience .date-range,
.job-experience .location,
.job-experience .type {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.job-experience .description {
  font-size: 12px;
  margin: 0;
  max-width: 800px;
}

.reccomendation {
  font-size: 12px;
  font-style: italic;
  border-left: 2px solid #000;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}



/* ABOUT ME */
/* EDUCATION */

.education {
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
}

.education .details {
  display: flex;
  flex-direction: column;
}

.education .title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.education .discipline,
.education .date-range,
.education .location,
.education .gpa {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.courses,
.scholarships,
.awards {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 40px;
}

.course,
.scholarship,
.award {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.extracurricular {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}

.extracurricular .details {
  display: flex;
  flex-direction: column;
}

.extracurricular .title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.extracurricular .role,
.extracurricular .date-range {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.extracurricular .description {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 800px;
}



/* ABOUT ME */
/* GOALS */

.goals {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 10px;
}

.goal {
  display: flex;
  align-items: center;
  margin: 0;
}

.goal-text {
  font-size: 12px;
  text-transform: uppercase;
  min-width: 300px;
  margin: 0;
}

.checkboxes {
  display: flex;
  flex-direction: row;
}

.checkboxes input[type="checkbox"] {
  /* Remove default checkbox appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Create square shape with black border */
  width: 11px;
  height: 11px;
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
}

.checkboxes input[type="checkbox"].true {
  background-color: #000;
}

.checkboxes input[type="checkbox"].false {
  background-color: #e5e5e5;
}

.checkboxes input[type="checkbox"].empty {
  background-color: #fff;
}


/* FOOD */
/* SUNDAY SUPPERS */

.categories,
.rankings,
.scores {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.category {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 10px;
}

.category-title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.category-description,
.category-question {
  font-size: 12px;
  margin: 0;
}

.ranking,
.score {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
}

.ranking-score,
.score-value {
  font-size: 12px;
  margin: 0;
}

.ranking-dish {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  max-width: 200px;
}

.food-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.food-image {
  max-width: 200px;
}

.story {
  font-size: 12px;
  margin-top: 40;
  margin-bottom: 40px;
  max-width: 800px;
}

.score-category {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  min-width: 100px;
}